backend/__pycache__
backend/.venv
backend/migrations
backend/./cert.pem
backend/.certs/
backend/app.log
backend/./key.pem
backend/instance
backend/temp
backend/.env
backend/myapp/static
frontend/node_modules
frontend/build
.env
